<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.github.mdogdope.whosthatcounter">

	<application
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/icon"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/icon_round"
		android:supportsRtl="false"
		android:theme="@style/Theme.AppCompat.Light.NoActionBar">
		<activity
			android:name=".TypeGame"
			android:exported="false" />
		<activity
			android:name=".Defense"
			android:configChanges="orientation|keyboardHidden"
			android:exported="false"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			tools:ignore="LockedOrientationActivity" />
		<!--
		All <activity> tag's need to have the theme attribute. (Copy below)
		==========================================================
		android:theme="@style/Theme.AppCompat.NoActionBar"
		==========================================================
        -->
		<activity
			android:name=".SplashScreen"
			android:configChanges="orientation|keyboardHidden"
			android:exported="true"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			tools:ignore="LockedOrientationActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Offense"
			android:configChanges="orientation|keyboardHidden"
			android:exported="false"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".MainMenu"
			android:configChanges="orientation|keyboardHidden"
			android:exported="false"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			tools:ignore="LockedOrientationActivity" />
	</application>

</manifest>